[Unit]
Description=Weather Station Logger
After=network.target

[Service]
Type=simple
User=carlos
WorkingDirectory=/home/carlos/Proyectos/EstacionMeteorologica
Environment="PATH=/home/carlos/Proyectos/EstacionMeteorologica/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/home/carlos/Proyectos/EstacionMeteorologica/venv/bin/python -m weather_station.logger.logger_weather
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
